
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
    height:90px;
}


.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(73, 85, 126);
    font-size: 18px;
}

.s-logo{
    width: 50px;
    color: transparent;
    background-color: transparent;
    background: transparent;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: rgb(73, 85, 126);
    border: 1px solid rgb(224, 56, 26);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(73, 85, 126);
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icons {
    position: relative;
}

.navbar-search-icons .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(224, 56, 26);
    border-radius: 5px;
    top: -6px;
    right: -8px;
}